.t-H1{
    color: #fff;
    padding-bottom: 10px;
    background-color: #2f2f2f;
    margin-left: -8px;
    padding-left: 8px;
    margin-top: -8px;
    padding-top: 10px;
    margin-right: -8px;
    padding-right: 8px;
    box-shadow: 2px -16px 51px 20px rgba(0,0,0,1);
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    font-family: sans-serif;
}
.t-H2{
	display: block;
  float: right;
  margin-top: -27px;
  color: #fff;
}
.m-lft{
	margin-top: 35px;
}
.ttl-TP1{
	font-size: 38px;
  font-weight: 900;
}
.ttl-TP1-txt{
	margin: auto;
  width: 80%;
  padding: 10px;
  text-align: center;
  padding-top: 30px;
}
.ft-prt{
	position: fixed;
 	left: 0;
 	bottom: 0;
	width: 100%;
	background-color: #2f2f2f;
 	color: white;
 	text-align: center;
  padding-bottom: 0px;
}
.ft-prt2{
	margin-top: 10px;
  margin-bottom: 10px;
}
.content{
	padding-left: 20px;
  padding-right: 20px;
}
.con-txt1{
	font-weight: bold;
  padding-bottom: 10px;
  padding-top: 20px;
}
.p-b50{
	padding-bottom: 50px;
}
.img-ctr{
  display: block;
  margin-left: auto;
  margin-right: auto;  
  width: 300px;
}
.img-title{
  padding-top: 20px;
}
.text-tarif{
  padding-top: 4px;
  padding-bottom: 4px;
}
.text-kontak{
  padding-top: 10px;
  padding-bottom: 4px;
  color: #2900cc;
  font-size: 20px;
}
@media screen and (max-width: 767px) {
.ft-prt{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #2f2f2f;
  color: white;
  text-align: center;
  padding-bottom: 25px;
}

}
@media screen and (max-width: 400px) {
  .img-ctr{
    display: block;
    margin-left: auto;
    margin-right: auto;  
    width: 80%;
  }

  .t-H1{
    color: #fff;
    padding-bottom: 5px;
    background-color: #2f2f2f;
    margin-left: -8px;
    padding-left: 8px;
    margin-top: -8px;
    padding-top: 5px;
    margin-right: -8px;
    padding-right: 8px;
    box-shadow: 2px -16px 51px 20px rgba(0,0,0,1);
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
  }
}
.p-lft10{
  padding-left: 10px;
}
.color-table{
  background-color: #dbffff;
}